

.auth {

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-form {
    position: relative;
    width: 540px;
    min-height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgb(237, 237, 240);
    border-radius: 5px;
    background: rgb(247, 235, 229);

}

.auth-form-close-buttom {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.auth-field-list {
    width: 370px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
}

.input-field {

    width: 370px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: none;
}

.field-title {
    display: block;
    margin: 0;
}



.auth-button {

    width: 370px;
    height: 49px;
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 39px 16px 39px;
    border: none;
    border-radius: 3px;
    background: rgb(231, 66, 106);
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 15px 0px;
}

.auth-button:hover {
    background-color: rgb(184, 23, 63);
}

.reg-button {

    width: 370px;
    height: 49px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 39px 16px 39px;
    border: 0.5px solid  rgb(231, 66, 106);
    border-radius: 3px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 15px 0px;
}

.reg-button:hover {
    background-color: rgb(247, 141, 167);
}