.actions-card {

    width: 270px;
    height: 380px;


    align-items: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    background-color: rgba(247, 236, 34, 0.45);
    overflow: hidden;
    border-radius: 5px;
}

img {
    width: 270px;
    height: 270px;
}

.actions-card-content {

    width: 270px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    text-align: center;
    padding: auto;
    background: rgb(140, 196, 236);
    color: aliceblue;
}

.actions-title {
    text-transform: uppercase;
    font-weight: 600;
    color: aliceblue;

}

.content {
    margin: auto;
}