<div class="footer">
    <div class="left">
        <div class="advantages">
            <div class="advantages-item">
                <img src="../../../assets/img/ico/Vector 1.png" alt="набор"/>
                <span class="advantages-item-text">Готовим вручную  и с любовью</span>
            </div>
            <div class="advantages-item">
                <img src="../../../assets/img/ico/Group 18.svg" alt="набор"/>
                <span class="advantages-item-text">Доставим в день заказа</span>
                
            </div>
            <div class="advantages-item">
                <img src="../../../assets/img/ico/Vector 2.png" alt="набор"/>
                <span class="advantages-item-text">Натуральные ингредиенты</span>
            </div>
        </div> 
        <div class="copyright"> © 2021 Макароншоп ООО "Квантум", Санкт-Петербург,  улица Маршала Тухачевского, дом 22</div>

    </div>
    <div class="info">
        <div class="info-title">Информация</div>
        <ul class="info-list">
            <li class="info-item"> О компании</li>
            <li class="info-item">Гарантии вкуса и свежести</li>
            <li class="info-item">Доставка и оплата</li>
            <li class="info-item">Контакты</li>
        </ul>
    </div>
    <div class="info">
        <div class="info-title">Каталог</div>
        <ul class="info-list">
            <li class="info-item">Каталог десертов</li>
            <li class="info-item">Готовые наборы</li>
            <li class="info-item">Собрать свой набор</li>
            <li class="info-item">Акции</li>
        </ul>
    </div>
    <div class="info">
        <div class="info-title">ДЛЯ БИЗНЕСА</div>
        <ul class="info-list">
            <li class="info-item">Корпоративные подарки</li>
            <li class="info-item">Для юридических лиц</li>
            <li class="info-item">Оповикам</li>
        </ul>
    </div>
    <div class="info contact">
        <div class="phone">+7 (812) 309 82 88</div>
        <div class="time">с 9:00 до 21:00</div>
        <div class="social"></div>
</div>
