.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* position: absolute; */
    width: 1440px;
    height: 318px;
    /* left: 1px;
    right: -1px; */
    /* top: 5013px;
    bottom: -5013px; */
    background: rgb(235, 237, 238);
    border: 1px solid rgb(83, 81, 81);
    }
