a {
    text-decoration: none;
    color: rgb(41, 41, 41);
    cursor: pointer;
}
img {
    margin-right: 10px;
}

.header-cart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
     width: 1440px;
    height: 48px;
    background: rgb(247, 235, 229);
    padding: 0 134px;

}
.header-cart-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

.bag {
    position: relative;
}

.count-number {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(231, 66, 106);
    color: aliceblue;
    bottom:6px;
    left: 33px;

}
.header-cart-item-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
}
.header-nav {
    /* Rectangle 276 */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
    /* position: absolute; */
    width: 1440px;
    height: 160px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: rgb(255, 255, 255);
    padding: 0 134px;
}

.nav-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
}

.nav-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
}

.nav-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
}


.menu-item {
    margin: 20px;
}

.auth-dialog {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: none;
    background-color: rgba(77, 71, 71, 0.39);
    position: fixed;
    z-index: 2;
}

.auth-dialog::backdrop {
    /* background-color: #2e3252b3; */
    

    /* animation: fade-in 0.3s;
    animation-fill-mode: forwards; */
    opacity: 0.1;
    
  }

  .registration-dialog {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: none;
    background-color: rgba(77, 71, 71, 0.39);
    position: fixed;
    z-index: 2;
}

.registration-dialog::backdrop {
    /* background-color: #2e3252b3; */
    

    /* animation: fade-in 0.3s;
    animation-fill-mode: forwards; */
    opacity: 0.1;
    
  }