<div class="product-card">
    <img src="../../../assets/img/product-img/Rectangle 172.png" class="img-product-card" alt="">
    <div class="product-card-content">
        <div class="product-card-content-title">Сердце</div>
        <div class="product-card-content-text">24 штуки в коробке в виде сердца. Ассорти из 6 вкусов</div></div>
        <div class="card-footer">
            <div class="product-card-content-price">2800 руб</div>
            <div class="">
                <button  type="button" class="product-card-content-cart-button" ><img src="../../../assets/img/ico/bag.png" alt="bag">В корзину</button>
                
            </div>
        </div>
</div>

