
<div class="set-card">
    <img src="../../../assets/img/set-img/Rectangle 172.png" class="img-set-card" alt="">
    <div class="set-card-content">
        <div class="set-card-content-title">Сердце</div>
        <div class="set-card-content-text">24 штуки в коробке в виде сердца. Ассорти из 6 вкусов</div></div>
        <div class="card-footer">
            <div class="set-card-content-price">2800 руб</div>
            <div class="">
                <button  type="button" class="set-card-content-cart-button"  ><img src="../../../assets/img/ico/bag.png" alt="bag">В корзину</button>
        </div>
    </div>
</div>

