

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12"> -->
      <table summary="This table shows how to create responsive tables using Datatables' extended functionality" class="table table-bordered table-hover dt-responsive">
        <thead>
            <tr >
              <th colspan="5">СПИСОК ПОКУПАТЕЛЕЙ</th>
            </tr>
          </thead>
        <thead>
          <tr>
            <th>Логин</th>
            <th>E-Mail</th>
            <th>Роль</th>
            <th>Дата Регистрации</th>
            <th>Действие</th>
          </tr>
        </thead>
        <tbody>
          @if (users) {
            @for (item of users ; track $index) {
              <tr>
                <td>{{item.login}}</td>
                <td>{{item.email}}</td>
                <td>{{item.role}}</td>
                <td>{{item._id}}</td>
                <td><a routerLink="edit" routerLinkActive="active" ariaCurrentWhenActive="page">
                  <img src="../../../../assets/img/admin-panel/edit.png" class="edit-ico" alt="add user"></a>
              </td>
              </tr>
            }
        }
        </tbody>
        <tfoot>
         
        </tfoot>
      </table>
    <!-- </div>
  </div>
</div> -->

