<div class="header-content">
    
</div>
<section class="products">
    <div class="product-item">
        <div class="product-item-ico"></div>
        <span class="product-item-title">Title</span>
        <span class="product-item-content">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
    </div>
    <div class="product-item">
        <div class="product-item-ico"></div>
        <span class="product-item-title">Title</span>
        <span class="product-item-content">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
    </div>   
    <div class="product-item">
        <div class="product-item-ico"></div>
        <span class="product-item-title">Title</span>
        <span class="product-item-content">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
    </div>
    <div class="product-item">
        <div class="product-item-ico"></div>
        <span class="product-item-title">Title</span>
        <span class="product-item-content">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
    </div>
    <div class="product-item">
        <div class="product-item-ico"></div>
        <span class="product-item-title">Title</span>
        <span class="product-item-content">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
    </div>
    <div class="product-item">
        <div class="product-item-ico"></div>
        <span class="product-item-title">Title</span>
        <span class="product-item-content">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
    </div>
</section>
<section class="actions">
    <div class="actions-title">Акции</div>
    <div class="actions-card-list">
        <app-action-card ></app-action-card>
        <app-action-card></app-action-card>
        <app-action-card></app-action-card>
        <app-action-card></app-action-card>
    </div>

</section>
<section class="set">
    <div class="set-title">Популярные наборы</div>
    <div class="set-card-list" *ngIf="products">
        <div *ngFor="let item of products; let i=index">
            <app-set-card [product]= "item" ></app-set-card>
        </div>
    </div>

    <button type="button" class="button-set" (click)="goToSetsPage()">Все праздничные наборы</button>

</section>