.header-content {
    width: 1440px;
    height: 475px;
    background-color: rgba(255, 252, 189, 0.45);
    border: 1px solid rgb(83, 81, 81);

}

.products {
    width: 1440px;
    min-height: 750px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(243, 170, 233, 0.45);
    border: 1px solid rgb(83, 81, 81);
    padding: 0 134px;
}

.product-item {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 570px;
    height: 260px;
    margin: 10px 0;
    background-color: rgba(196, 188, 42, 0.45);
    border: 1px solid rgb(83, 81, 81);
}

.product-item-ico {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 252, 189, 0.45);
    border-radius: 50%;
    /* border: 1px solid rgb(83, 81, 81); */
}

.actions {
    width: 1440px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items:center; */
    background-color: rgba(166, 233, 128, 0.45);
    padding: 20px 134px;
}

.actions-title {

    width: 105px;
    height: 37px;

}

.actions-card-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(166, 233, 128, 0.45);
    /* padding: 30px 0; */
}


.set {
    width: 1440px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    align-items: center;
    background-color: rgba(166, 233, 128, 0.45);
    padding: 30px 134px;
}

.set-title {
     width: 205px;
    height: 37px;

}

.set-card-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(166, 233, 128, 0.45);
    /* padding: 10px 0; */
}

.button-set {
    width: 293px;
    height: 52px;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    border: 1px solid rgb(78, 157, 211);
    border-radius: 3px;
    margin-top: 30px;
}

.button-set:hover {
    background: rgb(240, 239, 239);
}